* {
  margin: 0;
  font-size: 62.5%;
}

body {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  /* border: 2px solid red; */
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  margin: 2rem;
}

hr {
  height: 0.5rem;
  background-color: grey;
  margin-bottom: 3rem;
  align-self: stretch;
}

input {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

img {
  height: 2.5rem;
}

.edit,
.delete-btn {
  border: none;
  background-color: white;
  margin-right: 1rem;
}

h3 {
  font-size: 2.5rem;
  margin-right: 2rem;
}

.delete-all {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: crimson;
  border-radius: 1rem;
  color: white;
  /* position: absolute;
  bottom: 4rem; */
  margin-top: 4rem;
  display: none;
}

button:hover {
  cursor: pointer;
}

.delete-all:active {
  background-color: chocolate;
  color: black;
}

@media all and (max-width: 400px) {
  input {
    font-size: 2rem;
  }
}
